<div class="media pt-3">
    <div class="col-md-3" style="padding-left: 0px">
        <img class="img-fluid mr-3 rounded-circle border" src="<%= profile.avatar_data %>" alt="<%= profile.user_name %>'s avatar">
    </div>
    <div class="col-md-9 media-body pr-0 align-self-center">
    <h5 class="mt-0"><strong>@<%= profile.user_name %></strong> | <%= profile.first_name %> <%= profile.last_name %></h5>
    <p><%= link_to profile.website %></p>
    <p><%= profile.bio %></p>
    <p>
        Address: <%= profile.full_address %><br/>
        Registered: <%= profile.created_at.strftime("%A, %B %d @ %H:%M") %>
    </p>
  </div>
</div>
