<h1>Get In Contact</h1>

<%= form_for :contact do |form| %>
    <p>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :message %>
        <%= form.text_field :message %>
    </p>
    
    <p>
        <%= form.submit %>
    </p>
<% end %>