<!DOCTYPE html>
<html>
  <head>
    <title>InstablamGeo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <%= render 'partials/nav' %>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <span class="notice"><%= notice %></span><span class="alert"><%= alert %></span>
          <%= yield %>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </body>
</html>
