<!DOCTYPE html>
<html>
  <head>
    <title>InstablamGeo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'partials/nav' %>
        <div id="flash">
          <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <div class="spacer">
            <%= yield %>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </body>
</html>
